button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

input {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 1%;
    right: 1%;
}